@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('http://fonts.googleapis.com/css?family=Aladin');



#aboutme, #website, #applications{
    height: 250px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    text-align: center;
    background-image: url("../img/mars.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

div.card-panel.white.aboutme, div.card-panel.appcard, div.card-panel.webcard:hover {
    background-color: white;

}

#self-gif {
    width: 250px;
    height: 250px;
}


body {
    background-image: url(../img/mochaGrunge.png);
    color: white;
    margin-top: 5rem !important;
}


#page-container {
    background-image: url(../img/mochaGrunge.png);
}


.container {
    height: 80% !important;
    margin-bottom: 3rem !important;   
}

#github-icon, #linkedin-icon, #email-icon  {
    margin-right: 2rem;
}

footer.page-footer{
    background-color: rgba(0, 0, 0, 0.3);
}

div.container.hidden, footer.page-footer.hidden, div.container.center-align.hidden{
    display: none;
}


img.left.self-picture {
    padding: 1rem 1rem 0rem 0rem;
    margin-top: -9px;
    height: 150px;
    width: 150px;
    
}

.text-justify {
    text-align: justify;
    font-size: 20px;
}


.testing-close-btn {
    position: relative;
    top: -11px;
    left: -771px;
}


.feature-links i {
    margin-right: 1rem;
}

ul li {
    margin: 10px;
}



/* Page link CSS */

.hidden-button{
    display: none;
}

.about-me {
    overflow: auto;
    background-color: black !important;
}


/* Additional Adds - Grow/Shrink/Text Effect */
.shrink {
    transition: 1s ease;
    }
    
    .shrink:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }


    .grow {
        transition: 1s ease;
        }
        
        .grow:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
        }
        
    
    /* TESTING SPACE  */
    .ml12 {
        font-weight: 200;
        font-size: 1.2em;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        letter-spacing: 0.5em;
      }
      
      .ml12 .letter {
        display: inline-block;
        line-height: 1em;
      }


      a:link {
          color: white;
      }

      a:visited {
          color: white;
      }

      .inset-text-effect, hr {
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        font: normal 70px/1 "Aladin", Helvetica, sans-serif;
        color: rgba(48,48,48,1);
        text-align: center;
        text-transform: normal;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
        font-size: 100px
      }