@font-face {
    font-family: LuckiestGuy;
    src: url(./fonts/LuckiestGuy-Regular.ttf);
}
@font-face {
    font-family: PressStart;
    src: url(./fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Yanone;
    src: url(./fonts/YanoneKaffeesatz-Regular.ttf);
}
@font-face {
    font-family:RuslanDisplay;
    src: url(./fonts/RuslanDisplay.ttf);
}


@media screen and (min-width: 768px) {

    p.topics {
        font-size: 24px;
    }

    .ml12 {
        font-size: 20px;
    }
}

div.row.aboutlinks i {
    padding: 8px;

}





#aboutme, 
#website, 
#applications{
    height: 250px;
    font-family: LuckiestGuy, cursive;
    text-align: center;
    background-image: url("../img/mars.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}


#self-gif {
    width: 250px;
    height: 250px;
}


body {
    background-image: url(../img/mochaGrunge.png);
    margin-top: 5rem !important;
}


#page-container {
    background-image: url(../img/mochaGrunge.png);
}


.container {
    height: 80% !important;
    margin-bottom: 3rem !important;   
}

#github-icon, 
#linkedin-icon, 
#email-icon  {
    margin-right: 2rem;
}

footer.page-footer{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
}

div.container.hidden, 
footer.page-footer.hidden, 
div.container.center-align.hidden{
    display: none;
}


img.left.self-picture {
    padding: 1rem 1rem 0rem 0rem;
    margin-top: -9px;
    height: 150px;
    width: 150px;
    
}

.text-justify {
    text-align: justify;
    font-size: 20px;
    font-family: Yanone, sans-serif;
}



.feature-links i {
    margin-right: 1rem;
}

ul li {
    margin: 10px;
}

#newMe {
    background-image: url("../img/px_by_Gre3g.png");
    border: 2px dotted rgb(250, 250, 250, 0.75);
    overflow: auto;
}

#newApp {
    border: 2px dotted rgb(250, 250, 250, 0.75);
    background-image: url("../img/px_by_Gre3g.png");
    overflow: auto;
}

#newWeb {
    border: 2px dotted rgb(250, 250, 250, 0.75);
    background-image: url("../img/px_by_Gre3g.png");
    overflow: auto;
}


div#newApp figure, 
div#newWeb figure {
    margin: 1rem;
    border: 1px solid lightblue;
}

img.sensei {
    width: 250px;
    height: 250px;
}

/* Page link CSS */

.hidden-button{
    display: none;
}

#foot-name{
    padding-top: 35px;
}

/* Additional Adds - Grow/Shrink/Text Effect */
.shrink {
    transition: 1s ease;
    }
    
    .shrink:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }


    .grow {
        transition: 1s ease;
        }
        
        .grow:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
        }
        
    
    /* TESTING SPACE  */
    .ml12 {
        font-weight: 200;
        font-size: .8em;
        font-family: PressStart, cursive;
        text-transform: uppercase;
        letter-spacing: 0.5em;
      }
      
      .ml12 .letter {
        display: inline-block;
        line-height: 1em;
      }


      #github-icon, 
      #linkedin-icon, 
      #email-icon {
          color: white;
      }

      #github-icon, 
      #linkedin-icon, 
      #email-icon {
          color: white;
      }

      #github-icon, 
      #linkedin-icon, 
      #email-icon {
          color: white;
      }

      .inset-text-effect, 
      hr {
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        font: normal 35px/1 RuslanDisplay;
        color: rgb(199, 199, 199);
        text-align: center;
        text-transform: normal;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
        font-size: 35px
      }

    #taco {
        width: 100%;
        height: 100%;
        position: fixed;
        background-image: url('../img/mochaGrunge.png');
        z-index: 1000;
        margin: -70px auto;
    }

    .noscroll {
        overflow: hidden !important;
    }

    div.preloader-wrapper.big.active.adjust {
        top: 25%;
        left: 25%;
    }